@import '~src/app/stylesheets/vars';

.btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;

  &--active {
    background-color: $button-background;
    border: 1px solid $button-border-active;
    padding: 5px 10px;
  }
}
