@import '~src/app/stylesheets/mixins';
@import '~src/app/stylesheets/vars';

.product {
  @include display-flex(column, center, center, nowrap);
  height: 100%;
  padding: 10px;

  &__img {
    @include display-flex(column, center, center, nowrap);
    border-bottom: 1px solid $border-img;
    padding-bottom: 5px;
    width: 100%;

    img {
      height: 180px;
      width: 150px;
    }
  }

  &__title {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__bottom {
    @include display-flex(row, space-between, baseline, nowrap);
  }

  &__bottom-price {
    margin-right: 20px;
    width: 20px;
  }
}
